@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Univers LT Std";
    src: url('../fonts/UniversLTStd-Bold.otf') format('opentype');
    src: url('../fonts/UniversLTStd.otf') format('opentype');
  }

  html {
    font-family: "Univers LT Std", system-ui, sans-serif;
  }

  .btn-secondary {
    @apply bg-red hover:bg-red-100 ease-in-out ;
  }
}
